{% extends "layout.html" %}

{% block title %}HackathonRadar - О проекте{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_style.css') }}">
{% endblock %}

{% block content %}
<h1>О проекте HackathonRadar</h1>

<div class="project-description">
    <p> Добро пожаловать на HackathonRadar — уникальную платформу, созданную для того, чтобы собрать все российские хакатоны в одном месте. Мы понимаем, как сложно следить за растущим числом мероприятий в сфере технологий. И наш проект призван упростить поиск и участие в этих увлекательных событиях.</p>
    <p>HackathonRadar ориентирован на представителей IT-отрасли, включая веб-разработчиков, мобильных разработчиков, специалистов в области data science, GameDev и многих других. Мы стремимся создать сообщество для всех, кто заинтересован в инновациях и решении актуальных задач.</p>
    <p>HackathonRadar был создан группой студентов IT-направления, которые столкнулись с трудностями в поиске актуальной информации о хакатонах. Мы поняли, как важно иметь надежный источник информации, и решили создать платформу, которая решит эту проблему для всех.</p>
    <h3>"Идеи без границ — победы без пределов!"</h3>
</div>

<div class="team-list">
</div>
{% endblock %}

{# {% block body_scripts %}
    Если для этой страницы нужен JS, добавь его сюда
    <script src="{{ url_for('static', filename='js/about_scripts.js') }}"></script>
{% endblock %} #}