<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HackathonRadar{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_styles.css') }}">
    <style>
        /* Стили для модального окна */
        .modal {
            display: none; /* Скрыто по умолчанию */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
        }
        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            text-align: center;
            overflow-y: auto; /* Позволяет скроллить содержимое */
            max-height: 70vh; /* Максимальная высота окна */
            border-radius: 10px; /* Скругленные углы */
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    {% block head_styles %}{% endblock %}
    {% block additional_head_scripts %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-section">
                <a href="{{ url_for('index') }}">HackathonRadar</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('list_hackathons') }}" {% if active_page == 'hackathons' %}class="active"{% endif %}>Список хакатонов</a></li>
                    <li><a href="{{ url_for('organizers_page') }}" {% if active_page == 'organizers' %}class="active"{% endif %}>Организаторы</a></li>
                    <li><a href="{{ url_for('about_page') }}" {% if active_page == 'about' %}class="active"{% endif %}>О проекте</a></li>
                </ul>
            </nav>
            <div class="actions-section">
                <a href="https://t.me/nikoladochka" target="_blank" class="add-hackathon-button">Добавить Хакатон</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-column footer-logo-contact">
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='images/hackathon.png') }}" alt="HackathonRadar Logo" class="footer-logo-img"> 
                    <span>HackathonRadar</span>
                </div>
                <div class="footer-contact-info">
                    <p>Техническая поддержка:</p>
                    <p><a href="mailto:adaev.kol@yandex.ru">adaev.kol@yandex.ru</a></p>
                    <p><a href="tel:+79999999999">+7 (999) 999-99-99</a></p>
                </div>
            </div>
            <div class="footer-column footer-main-links">
                <a href="#" class="open-modal" data-modal="company-modal">Для компаний</a>
                <a href="#" class="open-modal" data-modal="participants-modal">Для участников</a>
                <a href="#" class="open-modal" data-modal="privacy-modal">Политика обработки персональных данных</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© {{ current_year }} HackathonRadar. Все права защищены.</p>
        </div>
    </footer>

    <!-- Модальные окна -->
    <div id="company-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Информация для компаний</h2>
            <p>Участие в хакатонах предоставляет компаниям уникальные возможности:</p>
            <ul>
                <li>Доступ к инновационным идеям и талантам.</li>
                <li>Возможность продемонстрировать свою продукцию и услуги.</li>
                <li>Установление контактов с участниками и другими компаниями.</li>
            </ul>
            <p>Если ваша компания хочет добавить свой хакатон, выполните следующие шаги:</p>
            <ol>
                <li>Нажмите кнопку <strong>"Добавить хакатон"</strong> в верхней части экрана.</li>
                <li>Вы будете перенаправлены на страницу для связи с менеджером.</li>
                <li>Менеджер поможет вам в добавлении хакатона и ответит на любые ваши вопросы.</li>
            </ol>
            <p>Не упустите возможность представить ваш хакатон и привлечь таланты!</p>
        </div>
    </div>

    <div id="participants-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Информация для участников</h2>
            <p>Хакатоны — это отличная возможность проявить свои навыки и креативность. Участие в хакатонах позволяет вам:</p>
            <ul>
                <li>Работать над реальными проектами.</li>
                <li>Получать опыт работы в команде.</li>
                <li>Налаживать контакты с профессионалами в своей области.</li>
            </ul>
            <p>Чтобы зарегистрироваться на хакатон, выполните следующие шаги:</p>
            <ol>
                <li>Откройте <a href="{{ url_for('list_hackathons') }}">список хакатонов</a>.</li>
                <li>Найдите хакатон, который вам нравится, и нажмите кнопку <strong>"Участвовать"</strong>.</li>
                <li>Заполните форму регистрации, указав все необходимые данные.</li>
                <li>Подтвердите отправку вашей заявки.</li>
            </ol>
            <p>Убедитесь, что вы ознакомлены с требованиями к участникам и условиями участия.</p>
        </div>
    </div>

    <div id="privacy-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Политика обработки персональных данных</h2>
            <p>Пользователь своей волей и в своем интересе выражает согласие на обработку HackathonRadar, местонахождение: г. Самара, Московское ш., 34Б, следующих персональных данных: фамилия, имя, отчество, дата и место рождения, пол, регион проживания, город, населенный пункт, телефон, фотография, адрес электронной почты, сведения о регистрации в социальных сетях.</p>
            <p>Согласие дается Пользователем для целей:</p>
            <ul>
                <li>обеспечения соблюдения законов и иных нормативных правовых актов;</li>
                <li>создания единой актуальной базы физических лиц, участвующих и предполагающих участие в проведении мероприятий;</li>
                <li>формирования единой площадки для взаимодействия в сфере информационной деятельности;</li>
                <li>мониторинга информации о мероприятиях, проводимых организаторами;</li>
                <li>предоставления сведений о деятельности, включая информацию о количестве часов, затраченных на участие и полученном опыте;</li>
                <li>анализа развития деятельности и формирования аналитической информации;</li>
                <li>сбора и систематизации информации о деятельности.</li>
            </ul>
            <p>Пользователь осознает, что указанные данные относятся к специальной категории персональных данных, и дает свое согласие на:</p>
            <ul>
                <li>получение этих данных от соответствующих организаций;</li>
                <li>их отображение в личном кабинете Пользователя на платформе HackathonRadar;</li>
                <li>использование этих данных для формирования персональных уведомлений о возможностях участия в мероприятиях.</li>
            </ul>
            <p>Пользователь разъяснено, что он может в любой момент изменить настройки видимости этой информации или полностью отозвать согласие на ее обработку через личный кабинет или письменное заявление.</p>
            <p>Пользователь не возражает против передачи персональных данных для их дальнейшей обработки в целях участия в мероприятиях. Перечень третьих лиц, которым поручается обработка персональных данных, будет указан в Публичной политике обработки персональных данных HackathonRadar.</p>
            <p>Обработка персональных данных Пользователя может осуществляться путем сбора, записи, систематизации, накопления, хранения, уточнения (обновления, изменения), извлечения, использования, передачи (распространения, предоставление доступа), обезличивания, блокирования, удаления, уничтожения персональных данных.</p>
            <p>Обработка персональных данных Пользователя может осуществляться как с использованием средств автоматизации, так и без использования таких средств.</p>
            <p>Пользователь соглашается на включение своих персональных данных в общедоступные источники персональных данных в следующем составе: фамилия, имя, отчество, дата рождения, регион проживания, населенный пункт, фотография, сведения о регистрации в социальных сетях.</p>
            <p>Настоящее согласие на обработку персональных данных действует с момента регистрации Пользователя на сайте HackathonRadar до истечения сроков хранения соответствующей информации, определяемых в соответствии с законодательством Российской Федерации, или до достижения целей обработки. Мы храним данные на протяжении 3 лет с момента последнего использования сайта пользователем.</p>
            <p>Отзыв данного согласия может быть осуществлен Пользователем в любое время на основании письменного заявления.</p>
            <p>Момент регистрации Пользователя на сайте HackathonRadar является подтверждением того факта, что Пользователь дает согласие на обработку персональных данных и ознакомлен с Публичной политикой обработки персональных данных HackathonRadar.</p>
            <p>Для получения дополнительной информации, пожалуйста, обращайтесь по контактным данным, указанным на главной странице сайта.</p>
        </div>
    </div>

    <script>
        // Открытие и закрытие модальных окон
        var modals = document.querySelectorAll('.modal');
        var btns = document.querySelectorAll('.open-modal');
        var spans = document.getElementsByClassName("close");

        btns.forEach(function(btn) {
            btn.onclick = function(event) {
                event.preventDefault(); // Предотвращаем переход по ссылке
                var modalId = this.getAttribute('data-modal');
                document.getElementById(modalId).style.display = "block";
            };
        });

        for (var i = 0; i < spans.length; i++) {
            spans[i].onclick = function() {
                this.parentElement.parentElement.style.display = "none";
            };
        }

        window.onclick = function(event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };
    </script>

    {% block body_scripts %}{% endblock %}
</body>
</html>
